@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');
.sd_editor .sd_site_hierarchy_node_title {
  font-weight: 500;
}
.sd_editor button {
  min-width: initial;
}
.sd_editor input {
  border: initial;
}
#sd_hierarchy > div {
  overflow-y: initial!important;
}
.sd_site_hierarchy_tree {
  overflow: initial!important;
}
.SiteDesignerPanel .ms-Panel-content {
  padding:0px;
}
#sd_json_editor {
  margin-top: 10px;
  margin-right: 30px;
}
.sd_editor {
  margin-top: 10px;
}
.sd_editor_container .ms-CommandBar:hover {
  background-color: rgb(244, 244, 244);
}
.sd_editor .sd_site_hierarchy_field {
  font-family: "Work Sans", Verdana, sans-serif;
}
.sd_editor .sd_site_hierarchy_field {
  font-weight: 500;
}

.sd_editor input[type=text] {
  background-color: white;
border:none;
}
.sd_editor input[type=text].ms-TextField-field {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  border-image: initial;
}